.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  height: 80vh;
}

.section--space {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#testimonialCarousel {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.testimonial--text {
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: center;
  font-style: italic;
}

.testimonial--avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#call-to-action {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 8rem;
  padding-bottom: 8rem;
}
